.about {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 100px;
	width: 60%;
	text-align: center;

	.aboutContainer {
		width: 25%;
	}

		h2 {
			margin-bottom: 0;
		}

		p {
			margin: 50px;
		}

		button {
			width: 220px;
		}
}
