.about {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 50px;
	margin-top: -200px;
	width: 60%;
	max-width: 850px;
	text-align: center;

	.tooltip {
    display: inline-block;
    position: relative;
		text-align: left;
		transition: .3s;

		& .top {
			display: none;
			position: absolute;
			top: 20px;
			left: 50%;
			min-width: 220px;
			min-height: 80px; 
			padding: 10px 20px;
			background-color: lighten($grey, 40%);
			border-radius: 10px;		
			color: $black;
			box-shadow: 1px 5px 10px 0 rgba(33, 33, 33, .5);
			transform: translate(-50%, -100%);
			z-index: 1;
			
			h3 {
				font-size: 1rem;
				text-transform: inherit;
			}
		}

		&:hover .top {
    	display:block;
		}

		& .top i {
			position: absolute;
			top: 100%;
			left: 50%;
			height: 12px;
			width: 24px;
			margin-left: -12px;
			overflow: hidden;
		}

		& .top i::after {
			content:'';
			position: absolute;
			left: 50%;
			height: 12px;
			width: 12px;
			background-color: lighten($grey, 40%);
			box-shadow: 1px 5px 10px 0 rgba(33, 33, 33, .5);
			transform: translate(-50%,-50%) rotate(45deg);
		}
	}

	h2 {
		width: 100%;
		margin-bottom: 20px;
	}

	p {
		margin: 10px;
	}
	
	button {
		width: 220px;
		margin-top: 50px;
	}
}
