html {
	font-size: 125%;
	font-family: $primaryFont;
}

body {
	cursor: auto;
}

.wrapper {
	max-width: 1500px;
	width: 90%;
	margin: 0 auto;
}

button {
	height: 60px;
	width: 200px;
	border: 2px solid $primaryColor;
	background: $primaryColor;
	color: $white;
	font-family: $primaryFont;
	transition: .3s;
	text-transform: uppercase;

	&:hover {
		background: $white;
		color: $black;
		box-shadow: 1px 5px 10px 0 rgba(33, 33, 33, .5);
		cursor: pointer;		
	}
}

img {
	width: 100%
}

h1,
h2,
h3 {
	cursor: default;
}

h1 {
	margin: 0;
	font-size: 5.61rem;
	font-weight: bold;
}

h2,
h3 {
	text-transform: capitalize;
	font-weight: bold;
}

h2 {
	margin: 50px 0 50px;
	width: auto;
	font-size: 3.16rem;
	text-transform: uppercase;
	text-align: center;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		height: 4px;
		bottom: -5px;
		left: 0;
		right: 0;
		width: 150px;
		margin: 0 auto;
		border-radius: 10px;
		background-color: $primaryColor;
		transform-origin: bottom right;
		transform: scaleX(1);
		transition: transform 0.3s ease-in-out;
	}

	&:hover::after {
		transform: scaleX(0);
		transform-origin: bottom left;
	}

	&::before {
		content: '';
		position: absolute;
		height: 4px;
		bottom: -15px;
		left: 0;
		right: 0;
		width: 250px;
		margin: 0 auto;
		border-radius: 10px;
		background-color: $primaryColor;
		transform-origin: bottom left;
		transform: scaleX(1);
		transition: transform 0.3s ease-in-out;
	}

	&:hover::before {
		transform: scaleX(0);
		transform-origin: bottom right;
	}
}

h3 {
	font-size: 2.37rem;
}

h4 {
	font-size: 1.78rem;
}

p,
a {
	font-size: 1.1rem;
}

@media (max-width: 1500px) {
	h1 {
		font-size: 4.21rem;
	}

	h2 {
		font-size: 2.37rem;
	}
}

@media (max-width: 1300px) {
	h3 {
		font-size: 1.78rem;
	}
}

@media (max-width: 1150px) {
	h3 {
		font-size: 1.33rem;
	}
}