html {
	font-size: 125%;
	font-family: $primaryFont;
}

body {
	cursor: auto;
}

.wrapper {
	max-width: 1500px;
	width: 90%;
	margin: 0 auto;
}

button {
	height: 60px;
	width: 200px;
	border: 2px solid $black;
	background: $black;
	color: $white;
	font-family: $primaryFont;
	transition: .3s;
	text-transform: uppercase;

	&:hover {
		background: $white;
		color: $black;
		box-shadow: 1px 5px 10px 0 rgba(33, 33, 33, .5);
		cursor: pointer;		
	}
}

img {
	width: 100%
}

h1,
h2 {
	transition: .3s;

	&:hover {
		text-shadow: -4px 4px $grey;
	}
}

h1 {
	margin: 0;
	font-size: 5.61rem;
	font-weight: bold;
}

h2 {
	margin: 50px 0 50px;
	font-size: 3.16rem;
	text-transform: uppercase;
	text-align: center;
}

h3 {
	font-size: 2.37rem;
	transition: .2s;

	&:hover {
		text-shadow: -2px 2px $grey;
	}
}

h2,
h3 {
	text-transform: capitalize;
	font-weight: bold;
}

p,
a {
	font-size: 1.1rem;
}