.contact {
	padding-top: 25px;
	margin: 100px auto;
	width: 80%;
	border-radius: 2px;
	box-shadow: 0 0 30px 5px rgba(33, 33, 33, 0.1);

	form {
		padding: 0px;
		height: 500px;
		width: 80%;
		margin: 0 auto;
		text-align: center;

		fieldset {
			border: none;
			padding: 0;
			margin: 0;
		}

		input,
		textarea {
			padding: 20px;
			width: calc(50% - 20px);
			border: none;
			border-bottom: 2px solid $black;
	
			&::placeholder {
				opacity: 1;
				color: $black;
				font-family: $primaryFont;
				text-transform: capitalize;
			}
		}

		input[type=text] {
			margin-right: 10px;
		}

		input[type=email] {
			margin-left: 10px;			
		}

		textarea {
			height: 240px;
			width: 100%;
			margin: 40px 0px;
			padding: 10px 0 200px 10px;

			&::placeholder {
				text-transform: initial;
			}
		}
	}

	input,
	textarea {
		font-family: $primaryFont;
		cursor: url("./../assets/svg/pencil.svg") 0 32, auto;
	}
}