header {
	height: 100vh;
	
	.nav {
		display: flex;
		justify-content: flex-end;
		height: 10vh;
		margin: 0 20px;
		
		ul {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 50%;
			text-transform: uppercase;
			list-style: none;
			z-index: 3;

			a {
				position: relative;
				color: $black;
				text-decoration: none;
				z-index: 1;

				&::before {
					content: "";
					display: block;
					position: absolute;
					right: -10px;
					bottom: 6px;
					height: 5px;
					width: 5px;
					border-radius: 50%;
					background: $secondaryColor;
					-moz-transform: scaleY(1);
					-o-transform: scaleY(1);
					-webkit-transform: scaleX(1);
					transform: scaleX(1);
					-webkit-transition: .3s linear;
					transition: .3s linear;
				}

				&:hover::before {
					-webkit-transform: scaleX(0);
					transform: scaleX(0);
				}

				&::after {
				  content: "";
					position: absolute;
					width: 100%;
					height: 3px;
					bottom: 0;
					left: 0;
					background: $secondaryColor;
					visibility: hidden;
					border-radius: 5px;
					-webkit-transform: scaleX(0);					
					transform: scaleX(0);
					-webkit-transition: .3s linear;
					transition: .3s linear;
				}

				&:hover::after {
					visibility: visible;
					-webkit-transform: scaleX(1);					
  				transform: scaleX(1);
				}
			}
		}
	}

	.hamburger {
		width: 40px;
		height: 25px;
		position: fixed;
		top: 30px;
		right: 50px;
		display: none;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		cursor: pointer;
		z-index: 4;

		&:hover {
			cursor: url("./../assets/svg/circleSolid.svg") 8 8, auto;
		}

		span {
			display: block;
			position: absolute;
			height: 5px;
			width: 100%;
			background: $secondaryColor;
			border-radius: 10px;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .25s ease-in-out;
			-moz-transition: .25s ease-in-out;
			-o-transition: .25s ease-in-out;
			transition: .25s ease-in-out;
		}

		span:nth-child(1) {
			top: 0px;
		}

		span:nth-child(2),
		span:nth-child(4) {
			top: 12px;
		}

		span:nth-child(3) {
			top: 24px;
		}
	
	}

	.hamburger.hover span {

		&:nth-child(1) {
			-webkit-transform: rotate(-90deg) translate(-8px, -10px);
			-moz-transform: rotate(-90deg) translate(-8px, -10px);
			-ms-transform: rotate(-90deg) translate(-8px, -10px);
			-o-transform: rotate(-90deg) translate(-8px, -10px);
			transform: rotate(-90deg) translate(-8px, -10px);
		}

		&:nth-child(2) {
			-webkit-transform: translate(0px, 6px);
			-moz-transform: translate(0px, 6px);
			-ms-transform: translate(0px, 6px);
			-o-transform: translate(0px, 6px);
			transform: translate(0px, 6px);
		}

		&:nth-child(3) {
			-webkit-transform: rotate(-90deg) translate(8px, 6px);
			-moz-transform: rotate(-90deg) translate(8px, 6px);
			-ms-transform: rotate(-90deg) translate(8px, 6px);
			-o-transform: rotate(-90deg) translate(8px, 6px);
			transform: rotate(-90deg) translate(8px, 6px);
		}

		&:nth-child(4) {
			-webkit-transform: translate(0px, -6px);
			-moz-transform: translate(0px, -6px);
			-ms-transform: translate(0px, -6px);
			-o-transform: translate(0px, -6px);
			transform: translate(0px, -6px);
		}
	}

	.hamburger.open span {
		
		&:nth-child(1) {
			-webkit-transform: rotate(-45deg) translate(-7px, 7px);
			-moz-transform: rotate(-45deg) translate(-7px, 7px);
			-ms-transform: rotate(-45deg) translate(-7px, 7px);
			-o-transform: rotate(-45deg) translate(-7px, 7px);
			transform: rotate(-45deg) translate(-7px, 7px);
		}

		&:nth-child(2) {
			-webkit-transform: rotate(45deg) translate(0px, 0px);
			-moz-transform: rotate(45deg) translate(0px, 0px);
			-ms-transform: rotate(45deg) translate(0px, 0px);
			-o-transform: rotate(45deg) translate(0px, 0px);
			transform: rotate(45deg) translate(0px, 0px);
		}

		&:nth-child(3) {
			-webkit-transform: rotate(-45deg) translate(10px, -10px);
			-moz-transform: rotate(-45deg) translate(10px, -10px);
			-ms-transform: rotate(-45deg) translate(10px, -10px);
			-o-transform: rotate(-45deg) translate(10px, -10px);
			transform: rotate(-45deg) translate(10px, -10px);
		}

		&:nth-child(4) {
			-webkit-transform: rotate(45deg) translate(0px, 0px);
			-moz-transform: rotate(45deg) translate(0px, 0px);
			-ms-transform: rotate(45deg) translate(0px, 0px);
			-o-transform: rotate(45deg) translate(0px, 0px);
			transform: rotate(45deg) translate(0px, 0px);
		}
	}

	.headerMain {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 80vh;

		.headerInfo {
			p {
				margin: 0px 0 100px;
				font-size: 1.6rem;
			}
			
			.typed-cursor {
				font-size: 2rem;
			}
			
			a {
				border: 2px solid $secondaryColor;
				background: $primaryColor;
				color: $white;
				font-size: .9rem;
				text-decoration: none;
				text-transform: uppercase;
				transition: .3s;

				&:hover {
					background: $white;
					color: $black;
					box-shadow: 1px 5px 10px 0 rgba(33, 33, 33, .5);
				}

				&:first-of-type {
					margin-right: 10px;
					padding: 15px 60px;
				}

				&:last-of-type {
					margin-left: 10px;
					padding: 15px 30px;
				}
			}
		}

		.tooltip {
			display: inline-block;
			position: relative;

			& .top {
				display: none;
				position: absolute;
				top: -30px;
				left: 50%;
				height: 50px;
				padding: 10px 20px;
				background-color: lighten($grey, 40%);
				color: $black;
				border-radius: 10px;
				box-shadow: 1px 5px 10px 0 rgba(33, 33, 33, .5);
				transform: translate(-50%, -100%);
				z-index: 1;
				
				h3 {
					font-size: 1rem;
					text-transform: inherit;
				}
			}
			
			&:hover .top {
				display:flex;
				align-items: center;
			}

			& .top i {
				position: absolute;
				top: 100%;
				left: 50%;
				height: 12px;
				width: 24px;
				margin-left: -12px;
				overflow: hidden;
			}

			& .top i::after {
				content:'';
				position: absolute;
				left: 50%;
				height: 12px;
				width: 12px;
				background-color: lighten($grey, 40%);
				box-shadow: 1px 5px 10px 0 rgba(33, 33, 33, .5);
				-webkit-transform: translate(-50%,-50%) rotate(45deg);
				-moz-transform: translate(-50%,-50%) rotate(45deg);
				-moz-transform: translate(-50%,-50%) rotate(45deg);
				-o-transform: translate(-50%,-50%) rotate(45deg);
				transform: translate(-50%,-50%) rotate(45deg);
			}
	
			.imageContainer {
				position: relative;
				overflow: hidden;
				height: 350px;
				width: 350px;
				margin: 0;
				border-radius: 50%;

				img {
					position: absolute;
					top: -90px;
					right: -30px;
					width: 400px;
					z-index: 2;
				}
			}
		}
	}
}

@media (max-width: 1500px) {
	header {

		.nav {
			position: relative;

			ul {
				flex-direction: column;
				align-items: flex-end;

				li {
					position: fixed;
					top: -300px;
					right: 50px;
					background: lighten(rgba(95, 95, 131, 0.6), 20%);
					height: 50px;
					padding: 10px 20px;
					text-align: left;
				}
			}
		}

	.hamburger {
		display: inline-block;
	}

	.headerMain {
		.tooltip {
			.imageContainer {
				height: 300px;
				width: 300px;

				img {
					width: 350px;
					top: -80px;
				}
			}
		}
	}
		
		.cube:nth-child(3n) {
			right: -60px;
		}
	}
}

@media (max-width: 1010px) {
	header {
		.headerMain {
			.tooltip {
				.imageContainer {
					left: 20px;
				}
			}
		}
	}
}

@media (max-width: 890px) {
	header {
		.nav {
			ul {
				li {
				right: 0px;
				}
			}
		}
		.headerMain {
			flex-direction: column;

			.headerInfo {

				p {
					margin-bottom: 50px;
				}
				.headerButtons {
					display: flex;
					flex-direction: column;
					justify-content: center;

					a {
						margin: 10px auto;

						&:last-of-type {
							margin-bottom: 50px;
						}

					}
				}
			}

			.tooltip {
				.imageContainer {
					left: auto;
				}
			}
		}

		.cubeContainer {
			.cube:nth-child(3n) {
				right: 0;
			}
		}
	}
}

@media (max-width: 600px) {
	header {
		height: 900px;
		.nav {
			ul {
				li {
					background: lighten(rgba(95, 95, 131, 0.6), 20%);
				}
			}
		}
		.hamburger {
			width: 25px;
		
			span:nth-child(2),
			span:nth-child(4) {
				top: 7px;
			}

			span:nth-child(3) {
				top: 14px;
			}

			span {
				height: 4px;
			}
		}

		.hamburger.hover span {

			&:nth-child(1) {
				-webkit-transform: rotate(-90deg) translate(-8px, -7px);
				-moz-transform: rotate(-90deg) translate(-8px, -7px);
				-ms-transform: rotate(-90deg) translate(-8px, -7px);
				-o-transform: rotate(-90deg) translate(-8px, -7px);
				transform: rotate(-90deg) translate(-8px, -7px);
			}
		}

		.hamburger.open span {
			
			&:nth-child(1) {
				-webkit-transform: rotate(-45deg) translate(-7px, 10px);
				-moz-transform: rotate(-45deg) translate(-7px, 10px);
				-ms-transform: rotate(-45deg) translate(-7px, 10px);
				-o-transform: rotate(-45deg) translate(-7px, 10px);
				transform: rotate(-45deg) translate(-7px, 10px);
			}

			&:nth-child(3) {
				-webkit-transform: rotate(-45deg) translate(10px, -0px);
				-moz-transform: rotate(-45deg) translate(10px, -0px);
				-ms-transform: rotate(-45deg) translate(10px, -0px);
				-o-transform: rotate(-45deg) translate(10px, -0px);
				transform: rotate(-45deg) translate(10px, -0px);
			}

			&:nth-child(4) {
				-webkit-transform: rotate(45deg) translate(7px, 0px);
				-moz-transform: rotate(45deg) translate(7px, 0px);
				-ms-transform: rotate(45deg) translate(7px, 0px);
				-o-transform: rotate(45deg) translate(7px, 0px);
				transform: rotate(45deg) translate(7px, 0px);
			}
		}
	}
}

@media (max-width: 450px) {
	header {
		.hamburger {
			top: 15px;
			right: 15px;
		}
	}

	.headerInfo {
		.typed {
			font-size: 1.33rem;
		}
	}

	.headerMain {
		.tooltip {
			.imageContainer {
				height: 250px;
				width: 250px;

				img {
					width: 300px;
				}
			}
		}
	}
}