.portfolio {
	margin: 100px auto;

	.workContainer {
		display: flex;
		flex-direction: row;
		margin: 20px;
		padding: 20px 20px 40px;
		border-bottom: 2px solid $darkGrey;
		z-index: 2;

		&:nth-of-type(2n) {
			flex-direction: row-reverse;

			.workInfo {				
				border-right: 2px solid $darkGrey;
				border-left: 0px solid $white;
			}
		}

		&:last-of-type {
			border-bottom: 0px solid $white;
		}

			.workImage {
				margin-left: 50px;
			}

		.workImage {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40%;
			margin-right: 50px;
			overflow: hidden;

			.imageOut {
				position: absolute;
				width: 78%;
				height: 100%;
				background: rgba(255, 255, 255, .4);
				// transition: .3s;
				z-index: 0;
				overflow: hidden;
			}

			.portfolioPiece {
				position: absolute;
				width: 100%;
				z-index: 0;
			}
		}

		.imageOverlay {
			position: absolute;
			top: 60px;
			left: -60px;
			height: 200px;
			width: 200px;
			border: 10px solid rgba(33, 33, 33, .7);
			// transition: .3s;
			visibility: hidden;
			z-index: 0;

			h4,
			svg {
				position: absolute;
				transition: .3s;
				color: $black;
			}
			
			h4 {
				top: -40px;
				left: 200px;
				width: 100%;
				opacity: 1;
			}

			svg {
				top: 140px;
				height: 40px;
				width: 40px;
				padding: 5px;
				border: 3px solid $black;
				border-radius: 50%;

				&:hover {
					border: 3px solid $white;
				}
			}

			a:nth-of-type(2) svg {				
				right: -60px;
			}

			a:last-of-type svg {
				right: -110px;
			}
		
			h4:hover,
			svg:hover {
				color: $white;
			}
		}

		.tools {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			padding: 0;
			list-style: none;

			li {
				margin: 5px;
				padding: 5px 7px;
				border: 1.5px dashed $primaryColor;
			}
		}

		.workInfo {
			width: 60%;
			padding: 0 50px;
			border-left: 2px solid $darkGrey;

			h3 {
				margin: 0px 0 0 10px;
				position: relative;
				display: inline-block;

				&::after {
					content: "";
					display: block;
					position: absolute;
					right: -10px;
					bottom: 10px;
					height: 5px;
					width: 5px;
					border-radius: 50%;
					background: $primaryColor;
				}
			}

			p {
				margin: 20px 0 40px 10px;
			}

			a {
				height: 50px;
				width: 100px;
				margin: 10px;
				padding: 10px 15px;
				background: $primaryColor;
				text-decoration: none;
				color: $white;
				transition: .3s;

				&:hover {
					background: $white;
					color: $black;
					box-shadow: 1px 5px 10px 0 rgba(33, 33, 33, .5);
				}
			}
		}

		&:nth-of-type(1):hover,
		&:nth-of-type(1):hover a,
		&:nth-of-type(1):hover h3 {
			cursor: url("./../assets/svg/checkerPiece.svg") 16 16, auto;
		}

		&:nth-of-type(2):hover,
		&:nth-of-type(2):hover a,
		&:nth-of-type(2):hover h3 {
			cursor: url("./../assets/svg/dna.svg") 16 16, auto;
		}

		&:nth-of-type(3):hover,
		&:nth-of-type(3):hover a,
		&:nth-of-type(3):hover h3 {
			cursor: url("./../assets/svg/bird.svg") 16 16, auto;
		}

		&:nth-of-type(4):hover,
		&:nth-of-type(4):hover a,
		&:nth-of-type(4):hover h3 {
			cursor: url("./../assets/svg/restaurant.svg") 16 16, auto;
		}

		&:nth-of-type(5):hover,
		&:nth-of-type(5):hover a,
		&:nth-of-type(5):hover h3 {
			cursor: url("./../assets/svg/hotdog.svg") 16 16, auto;
		}
	}
}

@media (max-width: 1350px) {
	.portfolio {
		.workContainer {
				&:nth-of-type(2n) .workImage {
				margin-left: 25px;
			}
			.tools li {
				padding: 3px;
			}
			.workImage {
				margin-right: 25px;
			}
		}
	}
}

@media (max-width: 1150px) {
	.portfolio {
		.workContainer {
			.workInfo {
				width: 40%;
				padding: 0 10px;

				h3:after {
					bottom: 6px;
				}
			}

			.workImage {
				width: 60%;
			}
		}
	}
}

@media (max-width: 1010px) {
	.portfolio {
		.workContainer {
				flex-direction: column;

			.workInfo {
				width: 100%;
				border-left: 0px solid $white;
			}

				&:nth-of-type(2n) {
					flex-direction: column;

					.workInfo {				
						text-align: right;
						border-right: 0px solid $white;

						h3 {
							margin-right: 20px;
						}

						ul {
							justify-content: flex-end;
						}
					}

				.workImage {
					width: 100%;
				}
			}
		}
	}
}

@media (max-width: 575px) {
	.portfolio {
		.workContainer {
			margin: 20px 0;
		}
	}
}