.backgroundImage {
	height: 50vh;
	background-image: url('./../assets/andrew-neel-308138-unsplash.jpg');
	background-position: 60% 75%;
	// transform: scale(1);
	background-attachment: fixed;
}
.toolbox {
	position: relative;
	bottom: 250px;
	padding: 30px 30px 100px 30px;
	background: $white;
	border-radius: 2px;
	box-shadow: 0 0 30px 5px rgba(33, 33, 33, 0.1);

	.iconContainer {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	svg,
	.overlay,
	i {
		height: 100px;
		width: 100px;
		margin: 30px;
		transition: .5s;
	}

	svg {
		position: relative;
		transition: .5s;
		z-index: 0;
	
		polygon {
			fill: $white;
		}
	}

	.overlay {
		display: inline-block;
		position: absolute;
		opacity: 1;
		transition: .5s;
		z-index: 1;
	}

	svg path,
	i {
		fill: $black;
	}

	i {
		text-align: center;
	}

	.overlay:hover {
		&+ svg {
			-webkit-animation: pulse .5s infinite;
			animation: pulse .5s infinite; 
		}

		&+ svg path {
			color: $primaryColor;
			fill: $primaryColor;
		}
	}

	.fas {
		font-size: 100px;
		color: $black;
	}
}