.toolbox {
	padding: 50px 100px;
	
	.iconContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	}

	svg,
	.overlay,
	i {
		height: 100px;
		width: 100px;
		margin: 30px;
		transition: .5s;
	}

	svg {
		position: relative;
		transition: .5s;
		z-index: 0;
	
		polygon {
			fill: $white;
		}
	}

	.overlay {
		display: inline-block;
		position: absolute;
		opacity: 1;
		transition: .5s;
		z-index: 1;
	
	p {
		display: flex;
		justify-content: center;
		margin-top: 50px;
		color: $black;
		font-size: 1.5rem;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		visibility: hidden;
		}
	}

	svg path,
	i {
		fill: $black;
	}

	i {
		text-align: center;
	}

	.overlay:hover {
		&+ svg {
			-webkit-animation: pulse .5s infinite;
			animation: pulse .5s infinite; 
		}

		&+ svg path {
			color: $primaryColor;
			fill: $primaryColor;
		}

		&> p {
			margin: 10px auto;
			// visibility: visible;
			transition: 1.2s ease-out;
		}
	}

	.fas {
		font-size: 100px;
		color: $black;
	}
}