// Colour scheme
$black: ;
$white: ;
$grey: ;
$primaryColor: ;
$secondaryColor: ;
$tertiaryColor: ;

// Fonts
$primaryFont: ;
$secondaryFont: ;

// Tablets
$tablet: 940px;

// Portrait tablets
$landscape: 767px;

// Phones
$phone: 480px;