html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 125%;
  font-family: "Cormorant", serif;
}

body {
  cursor: auto;
}

.wrapper {
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
}

button {
  height: 60px;
  width: 200px;
  border: 2px solid #212121;
  background: #212121;
  color: white;
  font-family: "Cormorant", serif;
  -webkit-transition: .3s;
  transition: .3s;
  text-transform: uppercase;
}

button:hover {
  background: white;
  color: #212121;
  -webkit-box-shadow: 1px 5px 10px 0 rgba(33, 33, 33, 0.5);
          box-shadow: 1px 5px 10px 0 rgba(33, 33, 33, 0.5);
  cursor: pointer;
}

img {
  width: 100%;
}

h1,
h2 {
  -webkit-transition: .3s;
  transition: .3s;
}

h1:hover,
h2:hover {
  text-shadow: -4px 4px #959595;
}

h1 {
  margin: 0;
  font-size: 5.61rem;
  font-weight: bold;
}

h2 {
  margin: 50px 0 50px;
  font-size: 3.16rem;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: 2.37rem;
  -webkit-transition: .2s;
  transition: .2s;
}

h3:hover {
  text-shadow: -2px 2px #959595;
}

h2,
h3 {
  text-transform: capitalize;
  font-weight: bold;
}

p,
a {
  font-size: 1.1rem;
}

@-webkit-keyframes cubeInitialRotate {
  from {
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  65% {
    -webkit-transform: scale(10) rotate(450deg) translate(-50%, -50%);
            transform: scale(10) rotate(450deg) translate(-50%, -50%);
    opacity: 0;
  }
  66% {
    -webkit-transform: scale(1) rotate(0deg) translate(100%, 0%);
            transform: scale(1) rotate(0deg) translate(100%, 0%);
  }
  80% {
    opacity: 1;
  }
  to {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes cubeInitialRotate {
  from {
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  65% {
    -webkit-transform: scale(10) rotate(450deg) translate(-50%, -50%);
            transform: scale(10) rotate(450deg) translate(-50%, -50%);
    opacity: 0;
  }
  66% {
    -webkit-transform: scale(1) rotate(0deg) translate(100%, 0%);
            transform: scale(1) rotate(0deg) translate(100%, 0%);
  }
  80% {
    opacity: 1;
  }
  to {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@-webkit-keyframes cubeRotate {
  from {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
  50% {
    -webkit-transform: scale(0.75) rotate(360deg);
            transform: scale(0.75) rotate(360deg);
  }
  to {
    -webkit-transform: scale(1) rotate(720deg);
            transform: scale(1) rotate(720deg);
  }
}

@keyframes cubeRotate {
  from {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
  50% {
    -webkit-transform: scale(0.75) rotate(360deg);
            transform: scale(0.75) rotate(360deg);
  }
  to {
    -webkit-transform: scale(1) rotate(720deg);
            transform: scale(1) rotate(720deg);
  }
}

@-webkit-keyframes cubeGlow {
  from {
    background: rgba(149, 149, 149, 0.5);
  }
  50% {
    background: rgba(149, 149, 149, 0.1);
  }
  to {
    background: rgba(149, 149, 149, 0.5);
  }
}

@keyframes cubeGlow {
  from {
    background: rgba(149, 149, 149, 0.5);
  }
  50% {
    background: rgba(149, 149, 149, 0.1);
  }
  to {
    background: rgba(149, 149, 149, 0.5);
  }
}

header {
  height: 100vh;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 10vh;
  margin: 0 20px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  text-transform: uppercase;
  list-style: none;
}

header nav ul a {
  position: relative;
  color: #212121;
  text-decoration: none;
}

header nav ul a::before {
  content: "";
  display: block;
  position: absolute;
  right: -10px;
  bottom: 6px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: #0177B5;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

header nav ul a:hover::before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

header nav ul a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #0177B5;
  visibility: hidden;
  border-radius: 5px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

header nav ul a:hover::after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

header .headerMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
}

header .headerMain .headerInfo p {
  margin: 0px 0 100px;
  font-size: 1.6rem;
}

header .headerMain .headerInfo .typed-cursor {
  font-size: 2rem;
}

header .headerMain .headerInfo a {
  border: 2px solid #212121;
  background: #212121;
  color: white;
  font-size: .9rem;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
}

header .headerMain .headerInfo a:hover {
  background: white;
  color: #212121;
  -webkit-box-shadow: 1px 5px 10px 0 rgba(33, 33, 33, 0.5);
          box-shadow: 1px 5px 10px 0 rgba(33, 33, 33, 0.5);
}

header .headerMain .headerInfo a:first-of-type {
  margin-right: 10px;
  padding: 15px 60px;
}

header .headerMain .headerInfo a:last-of-type {
  margin-left: 10px;
  padding: 15px 30px;
}

header .headerMain .tooltip {
  display: inline-block;
  position: relative;
}

header .headerMain .tooltip .top {
  display: none;
  position: absolute;
  top: -30px;
  left: 50%;
  height: 50px;
  padding: 10px 20px;
  background-color: #fbfbfb;
  color: #212121;
  border-radius: 10px;
  -webkit-box-shadow: 1px 5px 10px 0 rgba(33, 33, 33, 0.5);
          box-shadow: 1px 5px 10px 0 rgba(33, 33, 33, 0.5);
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  z-index: 1;
}

header .headerMain .tooltip .top h3 {
  font-size: 1rem;
  text-transform: inherit;
}

header .headerMain .tooltip:hover .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .headerMain .tooltip .top i {
  position: absolute;
  top: 100%;
  left: 50%;
  height: 12px;
  width: 24px;
  margin-left: -12px;
  overflow: hidden;
}

header .headerMain .tooltip .top i::after {
  content: '';
  position: absolute;
  left: 50%;
  height: 12px;
  width: 12px;
  background-color: #fbfbfb;
  -webkit-box-shadow: 1px 5px 10px 0 rgba(33, 33, 33, 0.5);
          box-shadow: 1px 5px 10px 0 rgba(33, 33, 33, 0.5);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

header .headerMain .tooltip .imageContainer {
  position: relative;
  overflow: hidden;
  height: 400px;
  width: 400px;
  margin: 0;
  border-radius: 50%;
}

header .headerMain .tooltip .imageContainer img {
  position: absolute;
  top: -80px;
  width: 400px;
}

header .cube {
  position: absolute;
  top: 18vh;
  left: -20px;
  width: 33.33%;
  height: 650px;
  background: white;
  border: solid 20px rgba(149, 149, 149, 0.5);
  z-index: -1;
}

header .cube:nth-child(2n) {
  left: auto;
  right: -100px;
  background: none;
  border: solid 20px white;
  -webkit-animation: cubeRotate 1000s linear infinite;
          animation: cubeRotate 1000s linear infinite;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

header .cube:nth-child(3n) {
  top: 0;
  left: auto;
  right: 0;
  width: 50%;
  height: 100vh;
  border: none;
  background: rgba(149, 149, 149, 0.5);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
          transform: scale(0) rotate(0deg) translate(-50%, -50%);
  -webkit-animation: cubeInitialRotate 14.5s ease-in forwards, cubeGlow 10s ease-in-out infinite;
          animation: cubeInitialRotate 14.5s ease-in forwards, cubeGlow 10s ease-in-out infinite;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
  margin-top: 100px;
  width: 60%;
  text-align: center;
}

.about .tooltip {
  display: inline-block;
  position: relative;
  text-align: left;
  -webkit-transition: .3s;
  transition: .3s;
}

.about .tooltip .top {
  display: none;
  position: absolute;
  top: 20px;
  left: 50%;
  min-width: 420px;
  min-height: 100px;
  padding: 10px 20px;
  background-color: #fbfbfb;
  border-radius: 10px;
  color: #212121;
  -webkit-box-shadow: 1px 5px 10px 0 rgba(33, 33, 33, 0.5);
          box-shadow: 1px 5px 10px 0 rgba(33, 33, 33, 0.5);
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  z-index: 1;
}

.about .tooltip .top h3 {
  font-size: 1rem;
  text-transform: inherit;
}

.about .tooltip:hover .top {
  display: block;
}

.about .tooltip .top i {
  position: absolute;
  top: 100%;
  left: 50%;
  height: 12px;
  width: 24px;
  margin-left: -12px;
  overflow: hidden;
}

.about .tooltip .top i::after {
  content: '';
  position: absolute;
  left: 50%;
  height: 12px;
  width: 12px;
  background-color: #fbfbfb;
  -webkit-box-shadow: 1px 5px 10px 0 rgba(33, 33, 33, 0.5);
          box-shadow: 1px 5px 10px 0 rgba(33, 33, 33, 0.5);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.about h2 {
  margin-bottom: 0;
}

.about p {
  margin: 50px;
}

.about button {
  width: 220px;
}

.backgroundImage {
  height: 50vh;
  background-image: url("./../assets/andrew-neel-308138-unsplash.jpg");
  background-position: 60% 75%;
  background-attachment: fixed;
}

.toolbox {
  position: relative;
  bottom: 250px;
  padding: 30px 30px 100px 30px;
  background: white;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 30px 5px rgba(33, 33, 33, 0.1);
          box-shadow: 0 0 30px 5px rgba(33, 33, 33, 0.1);
}

.toolbox .iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.toolbox svg,
.toolbox .overlay,
.toolbox i {
  height: 100px;
  width: 100px;
  margin: 30px;
  -webkit-transition: .5s;
  transition: .5s;
}

.toolbox svg {
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 0;
}

.toolbox svg polygon {
  fill: white;
}

.toolbox .overlay {
  display: inline-block;
  position: absolute;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 1;
}

.toolbox svg path,
.toolbox i {
  fill: #212121;
}

.toolbox i {
  text-align: center;
}

.toolbox .overlay:hover + svg {
  -webkit-animation: pulse .5s infinite;
  animation: pulse .5s infinite;
}

.toolbox .overlay:hover + svg path {
  color: #0177B5;
  fill: #0177B5;
}

.toolbox .fas {
  font-size: 100px;
  color: #212121;
}

.portfolio .workContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 50px;
  z-index: 2;
}

.portfolio .workContainer .workImage {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.portfolio .workContainer .workImage .portfolioPiece {
  position: absolute;
  width: 78%;
  z-index: 0;
}

.portfolio .workContainer .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
  list-style: none;
}

.portfolio .workContainer .tools li {
  margin: 10px;
  padding: 5px;
  border: 1.5px dashed #0177B5;
}

.portfolio .workContainer .workInfo {
  width: 50%;
  padding: 0 50px;
}

.portfolio .workContainer .workInfo h3 {
  margin: 30px 0 0 10px;
  position: relative;
  display: inline-block;
}

.portfolio .workContainer .workInfo h3::after {
  content: "";
  display: block;
  position: absolute;
  right: -10px;
  bottom: 6px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: #0177B5;
}

.portfolio .workContainer .workInfo p {
  margin: 20px 0 40px 10px;
}

.portfolio .workContainer .workInfo a {
  height: 50px;
  width: 100px;
  margin: 10px;
  padding: 10px 15px;
  background: #212121;
  text-decoration: none;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.portfolio .workContainer .workInfo a:hover {
  background: white;
  color: #212121;
  -webkit-box-shadow: 1px 5px 10px 0 rgba(33, 33, 33, 0.5);
          box-shadow: 1px 5px 10px 0 rgba(33, 33, 33, 0.5);
}

.portfolio .workContainer:nth-of-type(1):hover,
.portfolio .workContainer:nth-of-type(1):hover a {
  cursor: url("./../assets/svg/checkerPiece.svg") 16 16, auto;
}

.portfolio .workContainer:nth-of-type(2):hover,
.portfolio .workContainer:nth-of-type(2):hover a {
  cursor: url("./../assets/svg/dna.svg") 16 16, auto;
}

.portfolio .workContainer:nth-of-type(3):hover,
.portfolio .workContainer:nth-of-type(3):hover a {
  cursor: url("./../assets/svg/bird.svg") 16 16, auto;
}

.portfolio .workContainer:nth-of-type(4):hover,
.portfolio .workContainer:nth-of-type(4):hover a {
  cursor: url("./../assets/svg/restaurant.svg") 16 16, auto;
}

.portfolio .workContainer:nth-of-type(5):hover,
.portfolio .workContainer:nth-of-type(5):hover a {
  cursor: url("./../assets/svg/hotdog.svg") 16 16, auto;
}

.border {
  border: 2px solid #0177B5;
}

.contact {
  padding-top: 50px;
}

.contact form {
  padding: 0px;
  height: 500px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.contact form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.contact form input,
.contact form textarea {
  padding: 20px;
  width: calc(50% - 20px);
  border: none;
  border-bottom: 2px solid #212121;
}

.contact form input::-webkit-input-placeholder,
.contact form textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #212121;
  font-family: "Cormorant", serif;
  text-transform: capitalize;
}

.contact form input:-ms-input-placeholder,
.contact form textarea:-ms-input-placeholder {
  opacity: 1;
  color: #212121;
  font-family: "Cormorant", serif;
  text-transform: capitalize;
}

.contact form input::-ms-input-placeholder,
.contact form textarea::-ms-input-placeholder {
  opacity: 1;
  color: #212121;
  font-family: "Cormorant", serif;
  text-transform: capitalize;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
  opacity: 1;
  color: #212121;
  font-family: "Cormorant", serif;
  text-transform: capitalize;
}

.contact form input[type=text] {
  margin-right: 10px;
}

.contact form input[type=email] {
  margin-left: 10px;
}

.contact form textarea {
  height: 300px;
  width: 100%;
  margin: 40px 0px;
  padding: 10px 0 200px 10px;
}

.contact form textarea::-webkit-input-placeholder {
  text-transform: initial;
}

.contact form textarea:-ms-input-placeholder {
  text-transform: initial;
}

.contact form textarea::-ms-input-placeholder {
  text-transform: initial;
}

.contact form textarea::placeholder {
  text-transform: initial;
}

.contact input,
.contact textarea {
  font-family: "Cormorant", serif;
  cursor: url("./../assets/svg/pencil.svg") 16 16, auto;
}

footer {
  background: #212121;
  margin-top: 40px;
  color: white;
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

footer .wrapper a {
  color: white;
  text-decoration: none;
}

footer .wrapper a i {
  margin: 10px;
  font-size: 1.5rem;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

footer .wrapper a i:hover {
  color: #0177B5;
}

footer .wrapper p {
  margin: 0;
  padding: 0;
  font-size: .8rem;
}

footer .wrapper p a {
  font-weight: 600;
}

footer .wrapper p a:hover {
  color: #0177B5;
}
